{% extends 'base.html.twig' %}

{% block title %}Surccusale index{% endblock %}

{% block content %}
    <h1>Surccusale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Contact</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for surccusale in surccusales %}
            <tr>
                <td>{{ surccusale.id }}</td>
                <td>{{ surccusale.nom }}</td>
                <td>{{ surccusale.adresse }}</td>
                <td>{{ surccusale.contact }}</td>
                <td>
                    <a href="{{ path('app_surccusale_show', {'id': surccusale.id}) }}">show</a>
                    <a href="{{ path('app_surccusale_edit', {'id': surccusale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_surccusale_new') }}">Create new</a>
{% endblock %}
